@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glacial+Indifference&display=swap');

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    font-family: 'Montserrat', 'Glacial Indifference';
    background-color: #1e2324;
    color: #f2ede3;
}

p {
    font-size: 1.3rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    margin: 1rem 0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #363f41;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #1e2324;
}

::-webkit-scrollbar-thumb:active {
    background: #F75F1E;
}

/* Botón dorado */
.btn-gold {
    font-size: 1.2rem;
    background-color: #F75F1E;
    color: #f2ede3;
    transition: 0.2s;
    max-width: 150px;
    /* Ajusta el ancho máximo deseado */
    padding: 10px 20px;
    /* Ajusta el relleno deseado (arriba y abajo, izquierda y derecha) */
    border: 4px solid #D63B0D;
    /* Establece el color del borde más oscuro */

}

.modal-btn-gold {
    background-color: #F75F1E;
    color: #f2ede3;
    transition: 0.2s;
}

.modal-btn-gold:hover {
    background-color: transparent;
    background-color: #F75F1E;
}

.btn-gold:hover {
    background-color: transparent;
    outline: 0.0625rem solid #F75F1E;
    color: #f2ede3;
}

/*------------------------------------------ HERO ------------------------------------------------*/

.bg-darkblue {
    background-color: rgba(23, 26, 27, 0.5);
}

#hero {
    background: rgba(0, 0, 0, 0.4) url(images/joan-mar.jpeg) center center no-repeat;
    background-size: cover;
    /* Esto hará que la imagen ocupe todo el ancho */
    color: #f2ede3;
    background-blend-mode: darken;
    height: 100vh;
}

.hero-title {
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem !important;
    /* Ajusta el tamaño del h1 */
    line-height: 1.3em;
    padding: 1rem;
}

.fecha-hero {
    font-size: 1.2rem !important;
    /* Ajusta el tamaño de la fecha */
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px auto;
    padding: 1rem;
}

.text-hero {
    padding: 10px;
    font-size: 1.1rem !important;
    /* Ajusta el tamaño del texto hero */
    font-weight: 800 !important;
    line-height: 140%;
    /* Ajusta el espaciado entre líneas del texto */
}

.row {
    text-align: center;
}

/*------------------------------------------ ES PARA TI SI ------------------------------------------------*/


.parati {
    font-size: 1.3rem;
    margin-top: 2rem ;
}

.img-custom {
    height: 450px;
    /* Ajusta la altura deseada en píxeles */
    border-radius: 5px;
}

#title-espara{
    font-size: 2.5rem ;
    margin: 0.8rem 0;
}
.container-espara {
    margin: 1rem auto;
}

#caja-espara {
    background-image: url(images/_MG_6188.jpg);
    border-radius: 10px;
    background-size: contain !important;
    /* Cambiamos a 'contain' para ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 40vh;
    margin: 0 auto;
}

#texto-espara {
    /* Estilo para el texto */
    padding: 20px;
    display: flex;
    /* Usamos flexbox para centrar verticalmente el contenido */
    flex-direction: column;
    /* Colocamos el contenido en una columna */
    justify-content: center;
    /* Centramos verticalmente el contenido */
    line-height: 1.3;
}

/*------------------------------------------ RETO ------------------------------------------------*/
/* .container-RETO {
    background-color: #F75F1E;
    text-align: center;
}

#texto-RETO {
    padding: 20px;
} */

/*------------------------------------------ NUMBER ------------------------------------------------*/

.container-number {
    background-color: #F75F1E;
    text-align: center;
}

.title-number {

    font-size: 3rem;
}

.p-number {
    font-size: 24px;

}

/*------------------------------------------ ABOUT US ------------------------------------------------*/
.container-ABOUT {
    margin: 5rem auto;
}
#title-about{
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
#caja-ABOUT {
    background-image: url(images/_MG_6188.jpg);
    border-radius: 10px;
    background-size: contain !important;
    /* Cambiamos a 'contain' para ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 40vh;
    margin: 0 auto;
    /* Ajusta la altura según tus necesidades */
}

#texto-ABOUT {
    /* Estilo para el texto */
    padding: 20px;
    display: flex;
    /* Usamos flexbox para centrar verticalmente el contenido */
    flex-direction: column;
    /* Colocamos el contenido en una columna */
    justify-content: center;
    /* Centramos verticalmente el contenido */
    line-height: 1.5;
}

/*------------------------------------------ FECHA ------------------------------------------------*/
.container-fecha {
    background-color: #F75F1E;
    padding: 1rem;
}

#texto-fecha {
    align-items: center;
    font-size: 29px;
}

.p-fecha {
    font-size: 30px;

}

/*------------------------------------------ CONTACTO ------------------------------------------------*/

#contacto {
    /* width: 95vw; */
    margin: auto;
}

#container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e2324;
    padding: 3.75rem 4.5rem;
}

#container-contact form {
    text-align: center;
    min-width: 30rem;
}

#inscribite {
    margin: 20px;
    font-size: 2.4rem;
}

.contact-titles {
    font-size: 1.5rem;
    font-weight: 600;
}
.form-label {
    font-size: 1.3rem;
}

.form-control {
    border-radius: 2px;
    max-width: 600px;
}

/*------------------------------------------ MODAL ------------------------------------------------*/

#myModal {
    color: black;
}

#terminos {
    color: #00a2ff;
}

#terminos2 {
    color: #00a2ff;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e2324;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*------------------------------------------ ACCES ------------------------------------------------*/
.title{
    font-size: 3rem;
    font-weight: bold !important;
}
#enhorabuena {
    margin: 3rem 0;
}

.lead {
    font-size: 1rem;
    margin: 1rem auto;
}

.btn-green {
    font-size: 1.3rem;
    background-color: #2fff40;
    color: black !important;
    transition: 0.2s;
    margin-bottom: 5rem;
}

/*------------------------------------------ FOOTER ------------------------------------------------*/

.pie-pagina {
    margin-top: 5vh;
    background-color: #1e2324;
}

.pie-pagina .grupo-1 {
    width: 100%;
    /* max-width: 75rem; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.125rem;
    padding: 2.8125rem 0rem;
}

.pie-pagina .grupo-1 .box .figure-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.pie-pagina .grupo-1 .box .figure-logo .figure-logo-img {
    width: 11.25rem;
    transition: all 300ms ease;
    color: #f2ede3;
}

.pie-pagina .grupo-1 .box .figure-logo .figure-logo-img:hover {
    filter: drop-shadow(1px 1px 2px #F75F1E);
}

.pie-pagina .grupo-1 .box h3 {
    color: #f2ede3;
    margin-bottom: 0.3125rem;
    font-size: 1rem;
}

.pie-pagina .grupo-1 .box p {
    color: #f2ede3;
    margin-bottom: 0.3125rem;
    font-size: 12px;
}

.pie-pagina .grupo-1 .box-aclaracion {
    max-width: 25rem;
}

.box-aclaracion h3 {
    font-size: 1rem;
    font-weight: 600;
}

.icon-rd {
    display: inline-block;
    padding: 0 0.9375rem;
    text-decoration: none;
    color: #f2ede3;
    margin-right: 0.625rem;
    text-align: center;
    transition: all 300ms ease;
}

.icon-rd:hover {
    color: #F75F1E;
}

.pie-pagina .grupo-2 {
    background-color: #171a1b;
    height: auto;
    padding: 0.4688rem 0.625rem;
    text-align: center;
    color: #f2ede3;
}

.pie-pagina .grupo-2 small {
    font-size: 0.75rem;
}

.pie-pagina hr {
    display: none;
    height: 0.0625rem;
}

/*------------------------------------------ QUERIES ------------------------------------------------*/
/* CONTACTO */

@media only screen and (max-width: 670px) {
    #container-contact {
        padding: 3rem;
    }

    #container-contact form {
        min-width: auto;
    }
}

@media (min-width: 1100px) {
    #inscribite {
        padding-left: 200px;
    }
}

/* FOOTER */
@media screen and (max-width: 840px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.875rem;
        padding: 2.1875rem 0rem;
    }

    hr {
        display: block;
    }

    .box-aclaracion {
        margin: auto auto;
        text-align: center;
    }
}


/* HERO */
@media (min-width: 768px) {
    .hero-title {
        font-size: 3rem !important;
        /* Ajusta el tamaño del título para escritorio */
    }

    .fecha-hero {
        font-size: 2rem !important;
        /* Ajusta el tamaño de la fecha para escritorio */
    }

    .text-hero {
        font-size: 2rem !important;
        width:850px;
        /* Ajusta el tamaño del texto hero para escritorio */
    }

}
